<a href="#" data-reveal-id="recipe-<%= recipe.id %>-modal">
  <div class="available-recipe recipe large-3 small-6 columns">
    <div class="panel">
      <%= image_tag recipe.image_url %>
      <%= render partial: 'basket_login_check', local: recipe.id %>
    </div>
  </div>
</a>

<!-- Recipe modal -->
<div id="recipe-<%= recipe.id %>-modal" class="reveal-modal medium">
  <h2><%= recipe.title %></h2>
  <p class="lead"></p>
  <ul>
    <%= render partial: 'ingredients/ingredient', collection: recipe.ingredients %>
  </ul>
    <%= render partial: 'basket_login_check', local: recipe.id %>
  <a class="close-reveal-modal">&#215;</a>
</div>
