<a href="#" data-reveal-id="recipe-<%= recipe.id %>-modal">
  <div class="available-recipe recipe large-3 small-6 columns">
    <div class="panel">
      <%= image_tag recipe.image_url %>

      <% if user_signed_in? %>
        <%= link_to "Add to Basket", add_to_basket_path(:id => recipe.id), class: "tiny button add-to-basket" %>
        <%= link_to "Add to Favorites", favorite_recipes_path(:id => recipe.id), class: "tiny button add-to-favorites" %>
      <% else %>
        <%= link_to "Add to Basket", "#", class: "tiny button", data: { 'reveal-id' => "sign-in-modal"} %>
        <%= link_to "Add to Favorites", "#", class: "tiny button", data: { 'reveal-id' => "sign-in-modal"} %>
      <% end %>

    </div>
  </div>
</a>

<!-- Recipe modal -->
<div id="recipe-<%= recipe.id %>-modal" class="reveal-modal medium">
  <h2><%= recipe.title %></h2>
  <p class="lead"></p>
  <ul>
    <%= render partial: 'ingredients/ingredient', collection: recipe.ingredients %>
  </ul>
    <% if user_signed_in? %>
      <%= link_to "Add to Basket", add_to_basket_path(:recipe_id => recipe.id), class: "tiny button add-to-basket" %>
      <%= link_to "Add to Favorites", favorite_recipes_path(:id => recipe.id), class: "tiny button add-to-favorites" %>
    <% else %>
      <%= link_to "Add to Basket", "#", class: "tiny button", data: { 'reveal-id' => "sign-in-modal"} %>
      <%= link_to "Add to Favorites", "#", class: "tiny button", data: { 'reveal-id' => "sign-in-modal"} %>
    <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
