<div class='recipe-container <%= classes_for_recipe(recipe) %>'>
  <div class="available-recipe recipe large-3 small-6 columns">
    <!-- Recipe card -->
    <div class="panel">

      <a href="#" data-reveal-id="recipe-<%= recipe.id %>-modal">
        <div class="imgLiquidFill imgLiquid">
          <%= image_tag recipe.image_url, title: recipe.title, class: "imgLiquidFill imgLiquid" %>
        </div>
      </a>

      <%= render_recipe_detail(recipe) %>
    </div>
  </div>


  <div id="recipe-<%= recipe.id %>-modal" class="reveal-modal small">
    <!-- Recipe modal -->
    <a class="close-reveal-modal">&#215;</a>
    <%= image_tag recipe.image_url, title: recipe.title %>
    <h2><%= recipe.title %></h2>
    <%= render partial: 'recipes/recipe_ingredients', locals: { recipe: recipe } %>
    <%= render_recipe_detail(recipe) %>
  </div>
</div>
