<a href="#" data-reveal-id="recipe-<%= recipe.id %>-modal">
  <div class="available-recipe recipe large-3 small-6 columns">
    <div class="panel">

     <%= image_tag recipe.image_url %>

      <% if user_signed_in? %>
        <a href="#" class="tiny button add-to-basket">Add to Basket!</a>
        <%= link_to "Add to Queue", queued_recipes_path(:user_id => current_user.id, :recipe_id => recipe.id), class: "tiny button add-to-queue" %>
      <% else %>
        <%= link_to "Add to Queue", "#", class: "tiny button", data: { 'reveal-id' => "not-logged-in-modal"} %>
        <%= link_to "Add to Queue", "#", class: "tiny button", data: { 'reveal-id' => "not-logged-in-modal"} %>
      <% end %>

    </div>
  </div>
</a>

<!-- Recipe modal -->
<div id="recipe-<%= recipe.id %>-modal" class="reveal-modal medium">
  <h2><%= recipe.title %></h2>
  <p class="lead"></p>
  <ul>
    <%= render partial: 'ingredients/ingredient', collection: recipe.ingredients %>
  </ul>
  <a href="#" class="tiny button add-to-basket">Add to Basket!</a>
  <a href="#" class="tiny button add-to-queue">Add to Queue</a>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="not-logged-in-modal" class="reveal-modal small">
  <h3>Get started today by creating an account or signing in!</h3>
  <a class="close-reveal-modal">&#215;</a>
</div>
