<ul class='controls inline-list'>
  <li class='add-to-basket-controls'>
    <%= link_to '<i class="icon-plus"></i> <i class="icon-shopping-cart"></i>'.html_safe, add_to_basket_path(:id => recipe.id), class: "tiny round button modal-basket add-to-basket" %>
  </li>
  <li class='manage-basket-controls'>
    <ul class='button-group round'>
      <li><%= link_to '<i class="icon-plus"></i> <i class="icon-shopping-cart"></i>'.html_safe, add_to_basket_path(:id => recipe.id), class: "tiny button add-to-basket" %></li>
      <li><%= link_to '<i class="icon-minus"></i> <i class="icon-shopping-cart"></i>'.html_safe, remove_from_basket_path(id: recipe.id), class: "tiny button alert remove-from-basket" %></li>
    </ul>
  </li>
  <li class='add-to-favorites-controls'>
    <%= link_to '<i class="icon-plus"></i> <i class="icon-heart"></i>'.html_safe, favorite_recipes_path(id: recipe.id), class: "tiny round button add-to-favorites" %>
  </li>
  <li class='remove-from-favorites-controls'>
    <%= link_to '<i class="icon-minus"></i> <i class="icon-heart"></i>'.html_safe, favorite_recipe_path(id: recipe.id), class: "tiny alert round button remove-from-favorites" %>
  </li>
</ul>
