<p>
  <a href="#", data-reveal-id="grocery-list-modal"><span class="medium button grocery-button">Grocery List</span>
  <a href="#", data-reveal-id="checkout-modal"><span class="medium button checkout-button">Checkout</span>
</p>

<div class="row recipe-partial">
  <%= render partial: 'recipes/recipe', collection: @basket %>
</div>

<!-- Checkout modal -->
<div id="checkout-modal" class="reveal-modal small">
  <a class="close-reveal-modal">&#215;</a>
  <h2>Grocery List</h2>
  <p class="lead"></p>

  <%= form_for @order do |order_form| %>
    <% @order.ordered_products.each do |ordered_product| %>
      <%= order_form.fields_for :ordered_products, ordered_product do |ordered_product_fields| %>
        <div>
          <%= ordered_product_fields.number_field :quantity, min: 0, class: 'quantity-field' %>
          <%= ordered_product_fields.hidden_field :product_id %>
          <span><%= ordered_product.name %></span>
          <span class="item-cost"><%= number_to_currency(ordered_product.cost) %></span>
          <%= order_form.hidden_field :product_price, value: ordered_product.price, class: 'product_price' %>
        </div>
      <% end %>

      <%= order_form.hidden_field :total, value: @order.total %>
      <%= order_form.hidden_field :user_id, value: current_user.id %>
    <% end %>
      <h2 class='total-display'>Total: </h2>
      <h2 class='total total-display'><%= number_to_currency(@order.total) %></h2>
      <br><br>
    <%= order_form.submit 'Buy', class: 'medium button' %>
  <% end %>

</div>

<!-- Grocery List Modal -->
<div id="grocery-list-modal" class="reveal-modal small">
  <a class="close-reveal-modal">&#215;</a>
  <h2>Grocery List</h2>
  <p class="lead"></p>
    <%= form_for @order do |item| %>
      <% @order.ordered_products.each do |listed_product| %>
        <%= item.fields_for :ordered_products, listed_product do |listed_product_fields| %>
          <div>
            <%= listed_product_fields.number_field :quantity, min: 0, class: 'quantity-field' %>
            <%= listed_product_fields.hidden_field :product_id %>
            <span><%= listed_product.name %></span>
          </div>
        <% end %>
      <% end %>
      <br><br>
      <%= item.submit 'Generate Grocery-List', class: 'medium button' %>
    <% end %>

  
</div>
