<p>
  <a href="#", data-reveal-id="checkout-modal" ><span class="medium button checkout-button">Checkout</span>
</p>

<div class="row recipe-partial">
  <%= render partial: 'recipes/recipe', collection: @basket %>
</div>

<!-- Checkout modal -->
<div id="checkout-modal" class="reveal-modal small">
  <h2>Your Grocery List</h2>
  <p class="lead"></p>
  <table class="grocery-list">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
    <% @grocery_list.list.each do |product_id, amount| %>
      <% product = Product.find(product_id) %>
        <tr>
          <td class="quantity"><%= amount.ceil %></td>
          <td><%= product.name %></td> 
          <td><%= number_to_currency(product.price * amount.ceil) %></td>
        </tr>
    <% end %>
      <tr>
        <td></td>
        <td class="total">Total:</td>
        <td class="total"><%= number_to_currency(@grocery_list.total) %></td>
    </tbody>
  </table>
  <a href="#" class="medium button">Buy</a>
  <a class="close-reveal-modal">&#215;</a>
</div>
