<div class="fixed">
  <nav class="top-bar">

    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'GrocerPlease!', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><%= link_to 'Menu', '#' %></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-form">
          <form>
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="text">
              </div>
              <div class="small-4 columns">
                <a href="#" class="button">Search</a>
              </div>
            </div>
          </form>
        </li>

        <li class="divider"></li>

        <% if user_signed_in? %>
          <li class="active"><a href="#">Basket</a></li>
          <li class="divider"></li>
          <li class="active"><%= link_to "Queue", queued_recipes_path %></li>
          <li class="divider hide-for-small"></li>
          <li class="has-dropdown"><a href="#">Account</a>
            <ul class="dropdown">
              <li><a href="#">Settings</a></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li class="divider hide-for-small"></li>
          <li><%= link_to 'Sign Up', new_user_registration_path  %></li>
        <% end %>

      </ul>
    </section>
  </nav>
</div>
